/*Общие стили*/

body {
	margin: 0;
	padding: 0;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*Хедер*/

header {
	background-color: #eeeeee;
	min-height: 355px;
}

.header-content {
	display: flex;
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	width: 1160px;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.site-navigation {
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: flex-end;
}

.site-navigation li {
	margin-left: 46px;
}

.site-navigation a,
.cart {
	color: #000000;
}

.site-navigation a:hover,
.cart:hover {
	color: #fb565a;
}

.site-navigation a:focus,
.cart:focus {
	color: #bdbdbd;
}

.logo:focus {
	opacity: 0.3;
}

header .page-title {
	font-size: 55px;
	line-height: 55px;
	text-transform: none;
	margin: 0;
	margin-top: 45px;
}

.header-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 133px;
	margin: 0 auto;
}

.main-menu {
	display: flex;
	width: 800px;
	justify-content: space-between;
}

.cart {
	display: flex;
	justify-content: space-between;
	width: 115px;
	align-items: center;
}

/*main для главной*/

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.services {
	width: 1160px;
	min-height: 347px;
	margin-top: 81px;
}

.services-list {
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;
	list-style: none;
	padding: 0;
}

.webs a {
	background-color: #fb565a;
	color: #ffffff;
}

.apps a {
	background-color: #00ca74;
	color: #ffffff;
}

.presentations a {
	background-color: #efc84a;
	color: #ffffff;
}

.webs a:hover {
	background-color: #e74246;
	color: #ffffff;
}

.apps a:hover {
	background-color: #00bc6c;
	color: #ffffff;
}

.presentations a:hover {
	background-color: #eab534;
	color: #ffffff;
}

.webs a:focus {
	background-color: #d7373b;
	color: #e48789;
}

.apps a:focus {
	background-color: #00aa62;
	color: #74c69c;
}

.presentations a:focus {
	background-color: #e5a722;
	color: #edc47f;
}

.services-list-item {
	display: flex;
	flex-direction: column;
	width: 300px;
	min-height: 347px;
	margin-right: 100px;
}

.services-list-item img {
	width: 300px;
	height: 146px;
}

.services-list-item a {
	display: inline-block;
	padding-top: 14px;
	width: 160px;
	min-height: 50px;
	box-sizing: border-box;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border-radius: 5px;

}

.services-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.services-list-item p {
	font-size: 16px;
	line-height: 24px;
}

/*Футер*/

footer {
	display: flex;
	justify-content: center;
}

.footer-social {
	width: 260px;
	min-height: 80px;
	margin-top: 70px;
	margin-right: 140px;
	padding: 0px;
}

.footer-content {
	display: flex;
	width: 1160px;
	min-height: 217px;
	justify-content: flex-start;
}

.social-list {
	display: flex;
	list-style: none;
	justify-content: flex-start;
	padding: 0px;
	margin: 0px;
}

.social-button {
	margin-right: 10px;
}

.social-button a {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e1e1e1;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.social-button a:hover {
	background-color: #e74246;
}

.social-button a:focus {
	background-color: #d7373b;
}

.slogan {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	margin: 0 auto;
	margin-top: 70px;
}

.discount {
	font-size: 16px;
	line-height: 22px;
	color: #444444;
	margin: 0 auto;
	margin-top: 14px;
}

/*main каталога*/

.catalog-wrapper {
	display: flex;
	width: 1160px;
	justify-content: space-between;
}

/*фильтр внутренней страницы*/

.catalog-filter {
	width: 260px;
	min-height: 700px;
}

.catalog-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}

fieldset {
	border: none;
}

.catalog-grids label,
.catalog-features label {
	font-size: 16px;
	cursor: pointer;
	user-select: none;
}

.catalog-grids,
.catalog-features {
	list-style: none;
	color: #283136;
	padding-left: 35px;
	margin: 0px;
}

.catalog-grids li,
.catalog-features li {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
	opacity: 0.4;
	margin-bottom: 15px;
}

.catalog-grids li:hover,
.catalog-features li:hover {
	opacity: 1;
}

.catalog-checkbox + label::before {
	content: url("../img/checkbox-off.svg");
	position: absolute;
	left: -40px;
	width: 23px;
	height: 23px;
}

.catalog-checkbox:checked + label::after {
	content: url("../img/checkbox-on.svg");
	position: absolute;
	left: -40px;
	width: 23px;
	height: 23px;
}

.catalog-radio + label::before {
	content: url("../img/radio-off.svg");
	position: absolute;
	left: -40px;
	width: 23px;
	height: 23px;
}

.catalog-radio:checked + label::after {
	content: url("../img/radio-on.svg");
	position: absolute;
	left: -40px;
	width: 23px;
	height: 23px;
}

.catalog-form fieldset {
	margin: 0px;
	padding: 0px;
	margin-bottom: 50px;
}

.form-submit {
	width: 260px;
	height: 50px;
	border: none;
	border-radius: 5px;
	font: inherit;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	background-color: #eeeeee;
	outline: none;
}

.form-submit:hover {
	background-color: #dfdfdf;
}

.form-submit:active {
	background-color: #d5d5d5;
	color: #a9a9a9;
}

/*Карточка товара*/

.catalog {
	width: 760px;
}

.catalog-list {
	display: flex;
	list-style: none;
	margin: 0 auto;
	width: 760px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.browser-bar {
	opacity: 0.12;
}

.catalog-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 360px;
	min-height: 615px;
	margin-bottom: 33px;
	position: relative;
}

.catalog-item-popup {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 360px;
	display: none;
}

.catalog-item:hover .browser-bar,
.catalog-item:hover .catalog-item-popup {
	display: block;
	opacity: 1;
}

.catalog-item-title {
	margin-top: 30px;
	margin-bottom: 0px;
}

.catalog-item-title a {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.catalog-item-description {
	width: 240px;
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	margin: 0 auto;
}

.catalog-item-price {
	width: 200px;
	height: 50px;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	background-color: #fb565a;
	margin-top: 30px;
	border: none;
	border-radius: 5px;
	margin-bottom: 43px;
	outline: none;
	cursor: pointer;
}

.catalog-item-price:hover {
	background-color: #e74246;
}

.catalog-item-price:focus {
	background-color: #d7373b;
}

.catalog-item-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 230px;
	background-color: #eeeeee;

}

/*Всплывающее окно*/

.popup-title {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.popup-form-item label {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.popup fieldset {
	border: none;
}

.popup-button {
	background-color: #fb565a;
	color: #ffffff;
}

.popup-close {
	border: none;
	background-color: #ffffff;
	opacity: 0.3;
}

.popup-close:hover {
	background-color: #ffffff;
	opacity: 1;
}

.popup-close:focus {
	background-color: #ffffff;
	opacity: 0.1;
}

.
