/*Общие стили*/

body {
	margin: 0;
	padding: 0;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

/*Хедер*/

header {
	background-color: #eeeeee;
}

.header-content {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
}

.site-navigation {
	list-style: none;
}

.site-navigation a,
.cart {
	color: #000000;
}

.site-navigation a:hover,
.cart:hover {
	color: #fb565a;
}

.site-navigation a:focus,
.cart:focus {
	color: #bdbdbd;
}

.logo:focus {
	opacity: 0.3;
}

header .page-title {
	font-size: 55px;
	line-height: 55px;
	text-transform: none;
}

/*main для главной*/

.services-list {
	list-style: none;
}

.webs a {
	background-color: #fb565a;
	color: #ffffff;
}

.apps a {
	background-color: #00ca74;
	color: #ffffff;
}

.presentations a {
	background-color: #efc84a;
	color: #ffffff;
}

.webs a:hover {
	background-color: #e74246;
	color: #ffffff;
}

.apps a:hover {
	background-color: #00bc6c;
	color: #ffffff;
}

.presentations a:hover {
	background-color: #eab534;
	color: #ffffff;
}

.webs a:focus {
	background-color: #d7373b;
	color: #e48789;
}

.apps a:focus {
	background-color: #00aa62;
	color: #74c69c;
}

.presentations a:focus {
	background-color: #e5a722;
	color: #edc47f;
}

/*Футер*/

.social-list {
	list-style: none;
}

.social-list a {
	background-color: #e1e1e1;
}

.social-list a:hover {
	background-color: #e74246;
}

.social-list a:focus {
	background-color: #d7373b;
}

.slogan {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
}

.discount {
	font-size: 16px;
	line-height: 22px;
	color: #444444;
}

/*фиьтр внутренней страницы*/

.catalog-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

fieldset {
	border: none;
}

.catalog-title lable {
	font-size: 16px;
}

.catalog-grids,
.catalog-features {
	list-style: none;
	color: #283136;
}

/*Карточка товара*/

.catalog-list {
	list-style: none;
}

.browser-bar {
	opacity: 0.12;
}

.catalog-item-info {
	display: none;

}

.catalog-item:hover .browser-bar,
.catalog-item:hover .catalog-item-info {
	display: block;
	opacity: 1;
}

.catalog-item-title {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.catalog-item-description {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
}

.catalog-item-price {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	background-color: #fb565a;
}

.catalog-item-price:hover {
	background-color: #e74246;
}

.catalog-item-price:focus {
	background-color: #d7373b;
}

.catalog-item-info {
	background-color: #eeeeee;
}

/*Всплывающее окно*/

.popup-title {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.popup-form-item label {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.popup fieldset {
	border: none;
}

.popup-button {
	background-color: #fb565a;
	color: #ffffff;
}

.popup-close {
	border: none;
	background-color: #ffffff;
	opacity: 0.3;
}

.popup-close:hover {
	border: none;
	background-color: #ffffff;
	opacity: 1;
}

.popup-close:focus {
	border: none;
	background-color: #ffffff;
	opacity: 0.1;
}

.
